  html {
    min-width: 800px;
    height: 100%;
  }
  body {
    background-image: url('../img/bg/pvmt.png') ;
    background-repeat: repeat;
    height: 100%;
    //margin: 0px;
  }
  /*overlay div.  FIXME: Not filling all the way to bottom.*/
  #floatBox {
    content: "";
    display: inline;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    position: fixed; /*ancestor is body*/
    z-index: -1;
    height: 100%;
  }
  /*Section Divs*/
  #titleBox {
    background-color: seashell;
    color: black;
    height: 50px;
    opacity: .8;
    border: 2px
    border-color: gray;
    border-radius: 15px;
    /*width: 600px; make this inline to customize to text length*/  
  }
  .titleBoxLeft {
    margin: 20px auto 10px 21.5%;
    padding: auto;
  }
  .titleBoxRight {
    float: right;
    margin: 20px 22% 10px auto;
  }
  .projectSvg {
    clear: both;
    display: block;
    width: 720px; 
    margin: 0px auto 0px auto;
  }
  .face {
    display: block;
    opacity: .9;
    border-radius: 25px;
    position: relative;
  }
  h1 {
    font-family: 'Comfortaa', cursive;
    padding: 0px 0px 0px 20px;
  }
  h3 {
    padding: 02px;
    font-size: .9em;
    font-family: 'McLaren', cursive;
  }
  p {
    font-size: 2em;  /*1 em is 'current font size' - its relative*/
  }

